<app-root [isUserLoggedIn]="true"></app-root>
<highcharts-chart class="chart-cases"
  [Highcharts]="Highcharts"
  [options]="chartOptions"
  [(update)]="updateFromInput"
  [oneToOne]="true"
  
></highcharts-chart>
<highcharts-chart class="chart-cases"
  [Highcharts]="Highcharts"
  [options]="chartOptions1"
  [(update)]="updateFromInput"
  [oneToOne]="true"
 
></highcharts-chart>


<br><br><br><br><br><br>

<highcharts-chart class="chart-cases"
  [Highcharts]="Highcharts"
  [options]="chartOptions2"
  [(update)]="updateFromInput"
  [oneToOne]="true"
 
></highcharts-chart>
<highcharts-chart class="chart-cases"
  [Highcharts]="Highcharts"
  [options]="chartOptions3"
  [(update)]="updateFromInput"
  [oneToOne]="true"
 
></highcharts-chart>
<br><br><br><br><br><br>
<highcharts-chart class="chart-cases"
  [Highcharts]="Highcharts"
  [options]="chartOptions4"
  [(update)]="updateFromInput"
  [oneToOne]="true"
  
></highcharts-chart>
