<div class="container form-align">
  <h1>Add New Cases</h1>
  <form [formGroup]='caseFormGroup' (ngSubmit)="addCase()">
    <div class="form-group">
      <label for="country">Country Name</label>
      <select class="form-control" formControlName='name' name="name">
        <option *ngFor="let c of countries" [ngValue]="c">{{c}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">New Date</label>
      <input type="text" class="form-control" required formControlName='date'>
    </div>
    <div class="form-group">
      <label>New Cases</label>
      <input type="number" class="form-control" required formControlName='newCase'>
    </div>
    <div class="form-group">
      <label for="name">New Deaths</label>
      <input type="number" class="form-control" required formControlName='newDeath'>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>