<!--<p>add-case works!</p>


 <h2>My Cases</h2>
<ul class="cases">
  <li *ngFor="let case of cases"
    [class.selected]="case === selectedCase"
    (click)="onSelect(case)">
    <span class="badge">{{case.id}}</span> {{case.name}}
  </li>
</ul>

<app-case-detail [case]="selectedCase"> </app-case-detail>   -->
<div>
  <form>
    <label>SELECT COUNTRY </label>
    <select>
      <option>CHINA</option>
      <option>ITALY</option>
      <option>USA</option>
      <option>SPAIN</option>
      <option>GERMANY</option>
      <option>IRAN</option>
      <option>FRANCE</option>
      <option>SWITZERLAND</option>
      <option>UK</option>
      <option>S.KOREA</option>
    </select>
    <label>NEW CASES</label>
    <input type="number" title="Enter"
  </form>
</div>