<div class="container-fluid">
  <nav class="navbar navbar-expand bg-dark navbar-dark nb">
    <a class="navbar-brand" href="#">
      <img src="/assets/COVID19-FB-horizontal-427x224.png" alt="">
    </a>
    <h1 class="logo-name">COVID-19 Tracker</h1>
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a routerLink="home" class="nav-link" class="btn btn-primary " role="button">Home</a>
      </li>&nbsp;
      <li class="nav-item ">
        <a routerLink="dashboard" class="nav-link" class="btn btn-primary " role="button">Dashboard</a>
      </li>&nbsp;
      <li class="nav-item">
        <a routerLink="add-case" class="nav-link" class="btn btn-primary " role="button">Add Cases</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>