<br><br>
<div class="heading-tb">
  <h3>Positive cases as of today</h3>
<table>
  <tr>
    <th>Country Code</th>
    <th>Country Name</th>
    <th>New Cases</th>
    <th>New Deaths</th>
    <th>Date</th>
    <th>Total Cases</th>
    <th>Total Deaths</th>
    <th>Edit </th>
    <th>Delete </th>
  </tr>
  <tr *ngFor="let case of todayCases" >
    <td>{{case.id}}</td>
    <td>{{case.name}}</td>
    <td>{{case.newCase}}</td>
    <td>{{case.newDeath}}</td>
    <td>{{case.date}}</td>
    <td>{{case.totalCases}}</td>
    <td>{{case.totalDeaths}}</td>
    <td><button class="btn btn-info" routerLink="/edit/{{case.id}}">Edit Case</button></td>
    <td> <button class="btn btn-danger" (click)="deleteCase(case.id)">Delete</button></td>
  </tr>
</table>
<div class="track-tb"><i> Tracking since 11-04-2020 </i></div>
</div>